NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_MOCK_BACKEND=false
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_MANTLE_RPC=https://rpc.sepolia.mantle.xyz
NEXT_PUBLIC_MANTLE_EXPLORER=https://sepolia.mantlescan.xyz
NEXT_PUBLIC_AUDIT_LOGGER_ADDRESS=0xFc8cd61D26aF1A419B23F3bA08BE68aF3D9e827a
